# App
HTTP_HOST=127.0.0.1
HTTP_PORT=8080
PUBLIC_DIRECTORY="./backend/static"

# Scoreboard
SCORE_BOARD_LIMIT_TO_SHOW=10

# Main database config
DATABASE_URL=mysql://root:dbpassword@db/rs_worldcup

# Security
COOKIE_SECRET=change_me!!!
ENCRYPTION_KEY=change_me!!!

# Push notification
VAPID_PUBLIC_KEY=change_me!!
VAPID_PRIVATE_KEY=change_me!!
VAPID_SUBJECT="mailto:foo@example.com"

# Redis
REDIS_URL=redis://redisdb:6379

# WORLD CUP
WORLD_CUP_YEAR=2022

# SENDGRID
SENDER_EMAIL=
SENDGRID_API_KEY=